#btnPlayOffline{
    -fx-background-image: url("../resources/pulsanteNeroSinglePlayer.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}
#launcherToolbar{

}
#buttonExit{
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../resources/exitIcon.png");
    -fx-background-color: transparent;
}
#onlineButton{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../resources/pulsanteNeroMultiplayer.png");
}